.room_container{
    width: 100%;
    position: relative;
    overflow-y: auto;
    height: 100%; 
}

.room_header{
   /* width: calc(100dvw - 60px); */
   overflow-x: scroll; 
   height: 50px;
   border-bottom: 1px solid gray;
   display: flex; 
   position: sticky;
   top: 0;
   overflow-y: scroll; 
   width: 100%; 
}

.rooms_header_button{
    border: none;
    background-color: transparent;
    font-size: 15px;
    margin-left: 1em;
    margin-right: 1.5em;
    padding: 1.5em .5em .5em .5em;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(96, 96, 96);
    display: inline-block;
    cursor: pointer;
}

.rooms_header_button:hover{
    background-color: #e4eeff87;
}

.button_active{
    color:#0057ee;
    border-bottom: 3px solid #0057ee;
}

.room_main{
    padding: .5em;
}

@media (min-width:480px) {
    .room_header{
        width: 100%;
    }
}

