.nav_container {
  max-width: 1500px;
  padding: 1em;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  font-size: large;
  background-color: #fff;
  box-sizing: border-box;
}

.nav_left {
  display: flex;
  align-items: center;
}

.nav_left_menu {
  cursor: pointer;
  margin-right: 0.5em;
}

.nav_left_logo h3 {
  margin: 0 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #0057ee;
  letter-spacing: 0.5px;
}

.nav_right {
  display: flex;
  align-items: center;
}
