.announcement_container{
     margin: 1em auto;
     width: 100%;
     min-width: 200px;
     max-width: 600px;
     border-radius: .5em;
     box-shadow: 0 1px 3px 1px gray;
     padding: 1em 1em .5em 1em;
     box-sizing: border-box;
    
}
.textArea {
    display: inline-block;
    width: 100%;
    outline: none;
    border: none;
    box-sizing: border-box;
    resize: none;
    font-size: 15px;
    font-weight: 550;
}

.FocusedtextArea {
    height: 5em;
}

.buttons_container button{
   background-color: white;
    border: none;
    margin:.5em .5em;

}

.textArea:focus .buttons_container{
    display: flex;
}

@media(min-width:900px) {
    .announcement_container {
        margin: 1em 2em;
        padding: 1em 1em 0em 1em;
    }    
}