.announcement_container{
     margin: 1em auto;
     width: 100%;
     min-width: 200px;
     max-width: 600px;
     border-radius: .5em;
     box-shadow: 0 1px 3px 1px gray;
     padding: 1em 1em .5em 1em;
     box-sizing: border-box;
    
}
.textArea {
    display: inline-block;
    width: 100%;
    outline: none;
    border: none;
    box-sizing: border-box;
    resize: none;
    font-size: 15px;
    font-weight: 550;
}

.FocusedtextArea {
    height: 8em;
}
.small_pdf_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: .2em .5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width:50%;
    min-width: 100px;
    max-width: fit-content;
    border-radius: 10em;
    margin:1em 0;
}

.small_pdf_card:hover {
    background-color: #f0f0f0;
}

.thumbnail img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.info {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.buttons_container button{
   background-color: white;
    border: none;
    margin:0 1em;

}

.textArea:focus .buttons_container{
    display: flex;
}

@media(min-width:900px) {
    .announcement_container {
        margin: 1em 2em;
        padding: 1em 1em 0em 1em;
    }
    .textArea:focus .buttons_container{
        display: flex;
    }
    
}