.own_message{
    display: flex;
    align-items: flex-start;
    justify-content: right;
    flex-direction: row-reverse;
}

.other_message{
    display: flex;
    align-items: flex-start;
    justify-content: left;
}

.sender_info{
    max-width: 35px;
    max-height: 35px;
    border-radius: 10em;
    overflow: hidden;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    margin-top: .7em;

}
.sender_info img{
    width: 100%;
    height: 100%;
   
}

.message_card{
    width: fit-content;
    min-width: 150px;
    max-width: 200px;
    word-wrap: break-word;
    word-break: normal;
    margin: .5em;
    padding: .5em 1em;
    background-color: #cedefb90;
    color: black;
    border-radius: 1em;
}

.sender_message_card{
    background-color: #0057eee9;
    color: white;
}

.name_container{
    margin:0;
    color:#096ffdea;
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 2px solid #096ffd51 ;
}

.sender_name_Container{
    color: white;
    border-bottom: 2px solid #ffffff51 ;
}

.date_time_container{
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    margin-top: .5em;
}

.date_time_container small{
    margin: 0 .2em;
}
